body{
    background-color: rgba(19, 19, 19, 0.7);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/Assets/Copa.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 0%; 
    color: #ffffff;
    text-shadow: 8px 8px 0px black;
    letter-spacing: 2px;
}

.enlaces{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    text-decoration: none;
}

nav{
    text-align: center;
}

.caja_contenedora{
    width: 780px;
    height: 740px;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}

h2{
   text-align: center;
   margin-top: 0%;
   font-size: 3rem;
   color: #D4AF37;
   text-shadow: 2px 2px black;
}

section{
    margin-top: 5%;
}

li{
    font-size: 2rem;
    color: aliceblue;
}